.DS_Store

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.eslintrc.js
.editorconfig
jest.config.js
.travis.yml
.prettierrc
.releaserc
.nycrc.json
*.lcov
yarn.lock
mocha.opts

.env.*

.nyc_output/

!*.d.ts

typings/
node_modules/
src/
spec/
test/
.vscode/
coverage/
